body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error {
    background-color:pink
}

.btn-submenu {
    margin-top: 10px;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}


.recipeEditPage .recipeNameField {
    width:500px;
    max-width:none;
}

.recipeEditPage input{
    max-width:50px;
}

.recipeStep textarea{
    width: 70%;
    height:1em;
    border:none;
    max-width:none;
    max-height: 200px;
	vertical-align: top;
    resize:none;
}

#ingredientsTable input {
    border:none;
}

.quantityColumn,
.unitOfMeasurementColumn {
    width:50px;
}

.gripColumn,
.buttonColumn {
    width:20px;
}

.quantityColumn input {
    max-width:50px;
}

.unitOfMeasurementColumn input {
    max-width:80px;
}

.descriptionColumn {
    width:600px;
}
.descriptionColumn input {
    width:600px;
    max-width:600px;
}
