@{
    ViewBag.Title = "Online Recipe Cookbook";
}
<h2>@ViewBag.Title</h2>

<p>An application for managing and storing recipes on the web.  This is an alpha version still under development.</p>

<p>
    Current features:
    <ul>
        <li>
            Basic recipe creation and editing.
        </li>
    </ul>

    Future features:
    <ul>
        <li>
            Filter recipe searches using rating and type.
        </li>
        <li>
            Upload photographs of your favorite meals.
        </li>
        <li>
            Notes for each recipe with user and user rating.
        </li>
        <li>
            Import recipes from .fdx files (Living Cookbook)
        </li>
        <li>
            Nutritional analysis using the FDA database
        </li>
        <li>
            Sharing recipes with friends.
        </li>
        <li>
            Login using Facebook or Google
        </li>
        <li>
            Android mobile app for viewing and sharing your recipes
        </li>
    </ul>
</p>
