@{
    ViewBag.Title = "Online Recipe Cookbook";
}
<h2>@ViewBag.Title</h2>

<p>An online recipe cookbook.  This is an alpha version still under development.</p>

<p>
    Current features:
    <ul>
        <li>
            Basic recipe creation and editing.
        </li>
    </ul>

    Future features:
    <ul>
        <li>
            Filter recipe searches using rating and type.
        </li>
        <li>
            Notes for each recipe with user and user rating.
        </li>
        <li>
            Recipe import from .fdx files (Living Cookbook)
        </li>
        <li>
            Nutritional analysis using the FDA database
        </li>
        <li>
            Sharing recipes with friends.
        </li>
    </ul>
</p>
